*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color:  lightseagreen;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand{
    transition: .5s ease;
}
.navbar-brand:hover{
    transform: scale(1.1);
}
.row{
    margin:auto
}
.nav-link{
    color: white;
    font-weight: 500;
    border: 3px solid ;
}
.nav-link:hover{
    color: black;
    background-color: white;
    border: 3px solid rgb(168, 9, 28);
}

a{
    display: inline;
    text-align: center;
    margin-right: 8px;
    
}