*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    height: 700px;
    background-image:linear-gradient(#ff7b00, hsl(20, 100%, 50%)) ;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-container{
    width: 70%;
    height: 550px;
    background-color: white;
    border-radius: 15px;
}

.header{
    width: 100%;
    height: 100px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 5px;
}
h4{
    font-family: sans-serif;
    font-weight: lighter;
}
.content{
    width: 100%;
    height: 350px;   
}
span{
    display: block;
    font-size: smaller;
    font-weight: lighter;
    font-family: sans-serif;
}
label{
    font-family: sans-serif;
    display: block;
}
input,.inp{
    display: block;
    width:100%;
    height: 30px;
    border-radius: 3px;
    border: 0.5px solid gray;  
}
.div1,.div2,.div3{
    width: 100%;
    height: 120px;
}
.div-w{
    width: 45%;
}
.div-w span,label{
    padding: 3px;
}
.div11{
    width: 95%;
    margin: auto;
    
}
.div-child,.div2,.div3{
    display: flex;
    justify-content: space-around;

}
.footer{
    width: 100%;
    height: 100px;
    text-align: center;   
}    
button{
    width: 140px;
    height: 40px;
    margin-top: 30px;
    background-color: green;
    text-align: center;
    color: white;
}